#container {
    border-radius: 20px;
    width: 400px;
    height: auto;
    background-color: #373737;
    padding: 15px;
    color: white;
    justify-content: center;
    font-weight: bold;
    text-align: center
}

h1 {
    text-align: center; /* Ensures the title is centered */
    margin-bottom: 15px;
    margin-top: 200px;
}