{% extends "layout.html" %}

{% block title %}
    {{post.title}}  
{% endblock %}

{% block content %}
    <h1 class="text-center">{{post.title}}</h1>
    <div class="container">
        <div class="bg-body-tertiary p-5 mb-3 rounded">
            <img 
                class="w-100"
                style="max-width: 800px"
                src="{{ post.banner.url }}" 
                alt="{{ post.title }}"/>
          <p class="lead">{{post.body}}</p>
          <p class="text-end" style="text-transform: lowercase;">{{post.date|date:"d F Y H:i"}}</p>
        </div>
    </main>
{% endblock %}
